<div class="container">
  <div class="column-8">
    <div class="calendar">
        <h1 class="title-header">Agendar Fechas de Entrega</h1>
        <div class="legend">
            <span class="legend-item">
              <div class="legend-circle active"></div>
              Disponible
            </span>
            <span class="legend-item">
              <div class="legend-circle inactive"></div>
              No disponible
            </span>
          </div>
      <div class="header">
        <h2 >{{ currentMonthName }} 2023</h2>
        </div>
      <div class="week days-header">
        <div class="day-header" *ngFor="let dayHeader of daysHeaders">{{ dayHeader }}</div>
      </div>
      <div class="week" *ngFor="let week of weeks">
        <div class="day" *ngFor="let day of week">
          <ng-container *ngIf="day">
            <div class="day-content" [ngClass]="{'available': day.available, 'occupied': !day.available}"   (click)="day.available ? openModalForDay(day) : null">
              <div class="number" [ngClass]="{'active': day.available, 'inactive': !day.available}">{{ day.number }}</div>
            </div>
          </ng-container>
          <ng-container *ngIf="!day">
            <div class="day-content empty"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="column-4">
    <app-review-summary></app-review-summary>
    <button  (click)=" goBack()" mat-fab extended color="primary" style="width: 100%; display: flex; justify-content: center; align-items: center;">
      <span style="margin-left: 5px;">Ver reservaciones</span>
    </button>
  </div>
</div>



